{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Card lotteries.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>{{ title }}</title>

	{# Yes this should be self hosted but it'll pollute the git repo #}
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

	<link href="{% sass_src 'styles/styles.scss' %}" rel="stylesheet" type="text/css" />
	{% block head %}
	{% endblock %}
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header">
		<div class="mdl-layout__header-row">
			{# Title #}
			<span class="mdl-layout-title">{{ title }}</span>
			{# Add spacer, to align navigation to the right #}
			<div class="mdl-layout-spacer"></div>
			{# Dummy search bar #}
			<form action="#" id="search-form">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
					<label class="mdl-button mdl-js-button mdl-button--icon" for="search">
						<i class="material-icons">search</i>
					</label>
					<div class="mdl-textfield__expandable-holder">
						<input class="mdl-textfield__input" type="text" id="search">
						<label class="mdl-textfield__label" for="search-expandable">Search</label>
					</div>
				</div>
			</form>
			{# Navigation. We hide it in small screens. #}
			<nav class="mdl-navigation mdl-layout--large-screen-only">
				<a class="mdl-navigation__link" href="{% url 'index' %}">Home</a>
				<a class="mdl-navigation__link" href="{% url 'lotteries' %}">Lotteries</a>
				<a class="mdl-navigation__link" href="{% url 'cards' %}">Cards</a>
				<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{% url 'login' %}">Login</a>
			</nav>
		</div>
	</header>
	<div class="mdl-layout__drawer">
		<span class="mdl-layout-title">{{ title }}</span>
		<nav class="mdl-navigation">
			<a class="mdl-navigation__link" href="{% url 'login' %}">Login</a>
			<a class="mdl-navigation__link" href="{% url 'index' %}">Home</a>
			<a class="mdl-navigation__link" href="{% url 'lotteries' %}">Lotteries</a>
			<a class="mdl-navigation__link" href="{% url 'cards' %}">Cards</a>
		</nav>
	</div>
	<main class="mdl-layout__content">
		<div class="page-content">
			{% block content %}
			{% endblock %}
		</div>
	</main>
</div>
</body>
</html>
