{% extends 'base.html' %}
{% load sass_tags %}

{% block head %}
	<link href="{% sass_src 'styles/home.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
	<section class="banner">
		<h1>{% if user.is_authenticated %}Welcome, {{ user.first_name }}, to {% endif %}Card Lottery</h1>
		<h4>For all your card-collecting needs</h4>
	</section>
	<section class="lottery">
		<h2><a href="{% url 'lotteries' %}">Lotteries</a></h2>
		<ul id="lottery-list">
		{% if lottery_list %}
			{% for lottery in lottery_list %}
				<li class="lottery-card mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title mdl-card--expand">
						<h4>{{ lottery.title }}</h4>
					</div>
					<div class="mdl-card__actions mdl-card--border">
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'lottery-detail' lottery.id %}">
							Join
						</a>
						<div class="mdl-layout-spacer"></div>
						<i class="material-icons">poll</i>
					</div>
				</li>
			{% endfor %}
		{% else %}
			<li class="lottery-card mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title mdl-card--expand">
					<h4>No lotteries available!</h4>
				</div>
			</li>
		{% endif %}
		</ul>
	</section>

	<section class="card">
		<h2><a href="{% url 'cards' %}">Cards</a></h2>
		<ul id="card-list">
			{% if card_list %}
				{% for card in card_list %}
					<li class="card-card mdl-card mdl-shadow--2dp">
						<div class="mdl-card__title mdl-card--expand">
							<h4>{{ card.title }}</h4>
						</div>
						<div class="mdl-card__actions mdl-card--border">
							<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'card-detail' card.id %}/">
								View
							</a>
							<div class="mdl-layout-spacer"></div>
							<i class="material-icons">favorite_outline</i>
						</div>
					</li>
				{% endfor %}
			{% else %}
				<li class="card-card mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title mdl-card--expand">
						<h4>No cards available!</h4>
					</div>
				</li>
			{% endif %}
		</ul>
	</section>
{% endblock %}
