{% extends 'base.html' %}
{% load sass_tags %}

{% block head %}
	<link href="{% sass_src 'styles/lotteries.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
	<section class="lottery">
		<h2>Lotteries</h2>
		<ul id="lottery-list">
			{% if lottery_list %}
				{% for lottery in lottery_list %}
					<li class="lottery-card mdl-card mdl-shadow--2dp">
						<div class="mdl-card__title mdl-card--expand">
							<h4>{{ lottery.title }}</h4>
						</div>
						<div class="mdl-card__actions mdl-card--border">
							<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'lottery-detail' lottery.id %}/">
								View
							</a>
							<div class="mdl-layout-spacer"></div>
							<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
								<i class="material-icons">favorite_outline</i>
							</button>
						</div>
					</li>
				{% endfor %}
			{% else %}
				<li class="lottery-card mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title mdl-card--expand">
						<h4>No lotteries available!</h4>
					</div>
				</li>
			{% endif %}
		</ul>
	</section>
	<a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href="{% url 'lottery-create' %}">
		<i class="material-icons">add</i>
	</a>
{% endblock %}
