@import 'colors';

section.banner {
	padding: 1rem;
	background-color: $grey-300;
	h1 {
		text-align: center;
	}
	h4 {
		text-align: center;
	}
}

section.lottery, section.card {
	background-color: $grey-200;
	padding: 0;
	h2 {
		padding: 2rem 2rem 0;
		margin: 0;
		a {
			text-decoration: none;
		}
	}
}

section.card {
	background-color: $grey-300;
}

$item-padding: 1rem;
#lottery-list, #card-list {
	display: flex;
	overflow-x: auto;
	padding: 0;
	margin: 0;
	&:after {
		content: '';
		display: block;
		min-width: $item-padding;
	}
}

.lottery-card, .card-card {
	width: 256px;
	height: 256px;
	flex-shrink: 0;
	background: $indigo;
	margin: $item-padding 0 $item-padding $item-padding;

	& > .mdl-card__actions {
		border-color: transparentize(black, 0.8);
	}
	& > .mdl-card__title {
		align-items: flex-start;
	}
	& > .mdl-card__title > h4 {
		margin-top: 0;
	}
	& > .mdl-card__actions {
		display: flex;
		align-items: center;
	}
	& > .mdl-card__actions > .material-icons {
		padding-right: 10px;
		user-select: none;
	}
	& > .mdl-card__title,
	& > .mdl-card__actions,
	& > .mdl-card__actions > .mdl-button {
		color: #fff;
	}
}
