#advanced-search {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 0 2rem;
	// TODO: AUTOPREFIXER WHERE ARE YOU
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	section {
		display: flex;
		align-items: center;
		justify-content: center;
		.mdl-textfield {
			margin-right: 1rem;
		}
		& > .options {
			h1 {
				font-size: 2rem;
				padding: 0;
				margin: 0;
			}
			flex-grow: 1;
		}
	}
}

#search-results {
	a {
		text-decoration: none;
	}
}
